body{
  text-align: center;
  color: white;
  background: #24292E;
}

form{
  width: 66%;
}

input{
  width: 33%;
  margin: 15px;
  margin-left: auto;
}

div{
  margin-left: 50%;
}

@media (max-width: 1081px){
  body{
    text-align: center;
    color: white;
    background: #24292E;
    font-size: 5em;
  }

  form{
    width: 100%;
  }

  input{
    width: 80%;
    height: 5em;
    margin-top: 15px;
  }

  div{
    margin-left: 0;
  }
}
